* {
  font-family: "Mulish", sans-serif;
}
/* shared styles  */
.btn-primary {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border: 0;
}
.section-title {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;
  font-weight: 800;
}
/* Header related styles */
header {
  max-width: 1440px;
  padding: 50px 135px 100px 135px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.nav-left {
  display: flex;
}
.logo-title {
  color: #131318;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}
.go {
  color: #ff5400;
  font-family: Mulish;
  font-size: 36px;
  font-weight: 800;
}

nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 44px;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: #424247;
}
.hamburger-icon {
  display: none;
}

.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(19, 21, 34, 0.438),
      rgba(17, 14, 43, 0.555)
    ),
    url("../images/banner.png");
  height: 500px;

  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  border-radius: 16px;
}
.banner-item {
  padding: 100px 185px;
}
.banner h2 {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
  margin-top: -10px;
  text-align: center;
}
.banner p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  width: 676px;
  margin: auto;
  /* padding-top: 24px; */
}
.input-form {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  gap: 24px;
  padding: 15px;
  width: 800px;
  margin-top: 48px;
  /* align-items: center; */
}

input,
select {
  width: 174px;
  height: 52px;
  padding: 16px auto 16px 16px;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.5);
  border: 0;
  text-align: left;
}

.newsletter {
  max-width: 1440px;
  padding: 100px 135px 0 135px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 24px;
  height: 422px;
}
.newsletter-left {
  background: #fff;
  border-radius: 16px;
  padding: 40px;
}
.newsletter-title {
  color: #131318;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
}
.newsletter-content {
  width: 350px;
  color: #5a5a5d;
  font-family: Mulish;
  line-height: 26px;
  max-width: 350px;
}
input[type="email"],
input[type="text"] {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  font-family: Mulish;
  border: 0;
  padding: 48px;
  padding: 16px 251px 16px 20px;
  outline: #ccc8c8;
}
.btn {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-weight: 800;
  border: 0;
}
.newsletter-right {
  background-image: url("../images//Rectangle 8 (1).png");
  background-repeat: no-repeat;
}
.newsletter-right > img {
  margin: 200px auto auto 230px;
  width: 60%;
}
/* Footer Section */
footer {
  max-width: 1440px;
  max-height: 502px;
  padding: 110px 0;
  background: rgba(19, 19, 24, 0.05);
  align-items: center;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content {
  width: 769px;
  color: #5a5a5d;
  text-align: center;
  margin: auto;
  line-height: 26px; /* 162.5% */
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 32px;
}
.icon {
  height: 24px;
}
hr {
  margin-top: 50px;
  width: 872px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
}
.footer-title {
  color: #131318;
  font-family: Inter;
  font-weight: 300;
  text-align: center;
  margin-top: 50px;
}
/* Destination related style */

.destination {
  max-width: 1440px;
  padding: 0 135px 100px 135px;
}
.destination-description {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-family: Mulish;
  width: 643px;
  margin: auto;
  padding-bottom: 48px;
}
.destination-box {
  display: grid;
  grid-template-rows: 300px 286px 300px;
  gap: 24px;
}
.destination-img-box1 {
  display: grid;
  grid-template-columns: 573px 573px;
  gap: 24px;
}
.destination-img-box2 {
  display: grid;
  grid-template-columns: 374px 474px 274px;
  gap: 24px;
}
.destination-img-box3 {
  display: grid;
  grid-template-columns: 473px 673px;
  gap: 24px;
}

/* WhyUs related styles */
.whyus {
  max-width: 1440px;
  padding: 0 135px 100px 135px;
}
.whyus-card {
  display: grid;
  grid-template-rows: 284px 284px;
  gap: 24px;
}
.whyus-card-top {
  display: grid;
  grid-template-columns: 573px 573px;
  gap: 24px;
}
.whyus-card-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 573px;
  height: 284px;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.card img {
  margin-top: 32px;
  margin-left: 32px;
}
.card h3 {
  color: #131318;
  text-align: left;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
  margin-left: 32px;
}
.card p {
  color: #5a5a5d;
  font-family: Mulish;
  line-height: 26px;
  width: 486px;
  margin-left: 32px;
}
/* Mobile Responsive */
@media screen and (max-width: 600px) {
  /* Header */
  nav ul {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  header {
    max-width: 375px;
    padding: 20px 20px 100px 20px;
  }
  .banner-item {
    padding: 32px 0;
  }

  .banner h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 800;
    padding-top: 32px;
  }
  .banner p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 21px; /* 150% */
    width: 304px;
    padding-top: 8px;
  }
  .input-form {
    display: grid;
    max-width: 255px;
    max-height: 52px;
    margin: 0;
    /* max-height: 256px; */
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto;
    justify-content: center;
  }

  /* Destination */
  .destination {
    max-width: 375px;
    padding: 0 20px 100px 20px;
  }
  .section-title {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 1.25rem;
    font-weight: 800;
  }
  .destination-description {
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    width: 309px;
  }
  .destination-box img {
    width: 350px;
    height: 176px;
  }

  .destination-img-box1 {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
  .destination-img-box2 {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
  .destination-img-box3 {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }

  /* WhyUs */
  .whyus {
    max-width: 375px;
    padding: 0 20px 0 20px;
  }
  .whyus h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
  }
  .whyus > p {
    color: rgba(19, 19, 24, 0.7);
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    margin-bottom: 14px;
  }
  .whyus-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    width: 335px;
    height: 289px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.2);
    background: rgba(251, 181, 99, 0.05);
  }
  .card h3 {
    color: #131318;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 800;
  }
  .card p {
    color: #5a5a5d;
    font-family: Mulish;
    font-size: 14px;
    width: 271px;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }
  .whyus-card-top {
    display: block;
  }
  .whyus-card-bottom {
    display: block;
  }
  footer {
    padding-top: 30px;
  }
  .footer-top h2 {
    margin-top: 33.3px;
  }
  .footer-content {
    color: #5a5a5d;
    text-align: center;
    font-family: Mulish;
    font-size: 14px;
    line-height: 24px;
    width: 287px;
  }
  .footer-top hr {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
